@import "../variables";

.pizza-card {
  // width: 280px;
  text-align: center;
  margin-bottom: 65px;
  width: full;

  &__image {
    width: 260px;
  }

  &__title {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1%;
    margin-bottom: 20px;
  }

  &__selector {
    display: flex;
    background-color: #f3f3f3;
    border-radius: 10px;
    flex-direction: column;
    padding: 6px;

    ul {
      display: flex;
      position: relative;
      flex: 1;
      &:first-of-type {
        margin-bottom: 6px;
      }

      div {
        position: absolute;
        cursor: pointer;
        z-index: 1;
        background: white;
        border-radius: 5px;
        height: 100%;
        flex: 1;
        transition: transform 0.1s ease-in-out;
      }

      li {
        flex: 1;
        font-weight: 600;
        font-size: 14px;
        @include noselect();
        z-index: 2;
        cursor: pointer;
        padding: 8px;
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__price {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.015em;
  }
}
